<launch>

    <arg name="pid_enable" default="true" />
    <arg name="camera_enable" default="true" />

    <!-- Start Driver -->
    <node pkg="usub_drivers" type="depth_motor_imu.py" name="i2c_drivers" ns="cusub_common" />

    <!-- Publish static transforms -->
    <node pkg="tf" type="static_transform_publisher" name="depth_link" args="0 0 0 0 0 0 1 janus/description/odom janus/description/depth_odom_frame 10" />
    <node pkg="tf" type="static_transform_publisher" name="imu_link" args="0 0 0 0 0 0 1 janus/description/base_link janus/description/imu_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="dvl_link" args="0 0 0 0 0 0 1 janus/description/base_link janus/description/dvl_link 10" />

    <!-- Start Joystick Controls -->
    <include file="$(find teleop)/launch/joy.launch">
        <arg name="namespace" value="cusub_common" />
        <arg name="setpoint" value="false" />
    </include>

    <!-- Start Camera-->
    <!-- For teleop this is CPU intensive using direct streaing pipline from nvidia instead-->
    <include file="$(find usub_drivers)/launch/jetson_csi_cam.launch" if="$(arg camera_enable)" />

    <!-- Start Controller -->
    <include file="$(find usub_drivers)/launch/controller.launch">
        <arg name="pid_enable" value="$(arg pid_enable)" />
    </include>

    <!-- How to launch joy node
    rosrun joy joy_node __ns:=cusub_common
    -->

</launch>
